<div id="mainContainer" class="container grid">
  <div>
    <div id="skillsContainer">
      <h3>SKILLS</h3>
      <ul>
        <li>Java & Spring</li>
        <li>Golang</li>
        <li>Javascript & Typescript</li>
        <li>HTML & CSS</li>
        <li>Next.js, Angular & Svelte</li>
        <li>Node</li>
        <li>Nginx</li>
        <li>SQL & NoSQL</li>
      </ul>
    </div>
    <div id="educationContainer">
      <h3>UTBILDNING</h3>
      <ul>
        <li class="educationLi">
          <h4 class="educationHeader"><a href="https://lnu.se">LINNÈUNIVERSITET</a></h4>
          <p class="educationInfo">Webbutveckling, kand.</p>
          <p class="educationInfo">2022-2025</p>
        </li>
        <li class="educationLi">
          <h4 class="educationHeader"><a href="https://naprapathogskolan.se">NAPRAPATHÖGSKOLAN</a></h4>
          <p class="educationInfo">Naprapatprogrammet</p>
          <p class="educationInfo">2010-2014</p>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <h3>NYA PROJEKT</h3>
    <div id="projectsContainer">
      <ul>
        <li>
          <h4><a href="https://github.com/GPNaslund/iot_assignment_lnu">INDOOR MONITORING - IOT</a></h4>
          <p>LNU | 2024</p>
          <ul>
            <li>Visualisering av realtidsmätning och historiska mätningar av temperatur och luftfuktighet.</li>
            <li>PicoWH + DHT22 sensor programmerad med MicroPy.</li>
            <li>Java Spring Boot server + InfluxDB + Vertx MQTT server + Angular SPA frontend.</li>
          </ul>
        </li>
        <li>
          <h4><a href="https://github.com/GPNaslund/api_design_lnu_assignment">API DESIGN</a></h4>
          <p>LNU | 2024</p>
          <ul>
            <li>Applikation med användarinloggning som strikt följer REST och HATEOAS.</li>
            <li>Go fiber server + PostgreSQL databas + omfattande Postman testning av ändpunkter.</li>
          </ul>
        </li>
        <li>
          <h4><a href="https://github.com/GPNaslund/oauth_lnu_assignment">OAUTH 2.0 + OIDC + GRAPHQL + REST</a></h4>
          <p>LNU | 2024</p>
          <ul>
            <li>Implementering av Ouath2 + OIDC + flöde mot gitlab med TM-Backend arkitektur med användning av GraphQL
              och REST för inhämtning av diverse användarinformation.</li>
            <li>Go fiber server + Svelte frontend.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
