<div id="mainContainer" class="grid container">
  <div id="imgContainer">
    <img id="profilePicture" alt="Picture of Gustav" src="assets/profilePicture.png">
  </div>
  <div>
    <h3>PROFIL</h3>
    <div>
      <p id="description">En 34 årig legitimerad naprapat och fullstack-utvecklare med en passion för att ständigt lära
        mig nya
        saker. Jag har
        ett
        djupt intresse för både frontend och backend utveckling, med en särskild förkärlek för backend. Mina sociala
        kompetenser och kommunikationsfärdigheter bidrar till framgångsrika samarbeten och effektiv problemlösning. </p>
    </div>
  </div>
</div>
