<div class="yellow">
  <p>
    Feel free to contact me at <span class="aqua">gpnaslund&#64;gmail.com</span> or any of the socials listed below!
    All links are both clickable and usable commands!
  </p>
  <ul>
    <li class="aqua"><a href="https://www.linkedin.com/in/gpnaslund" target="_blank"><span class="green">&#x21D2;</span>
        LinkedIn</a>
    </li>
    <li class="aqua"><a href="https://github.com/gpnaslund" target="_blank"><span class="green">&#x21D2;</span>
        GitHub</a></li>
    <li class="aqua"><a href="mailto:gpnaslund@gmail.com" target="_blank"><span class="green">&#x21D2;</span> Email</a>
    </li>
  </ul>
</div>
